<phpunit
    backupGlobals="false" 
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    stopOnFailure="false"
    bootstrap="./Bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite ">
            <directory suffix='.php'>src/**/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>../build</directory>
                <directory>../composer</directory>
                <directory>../tests</directory>
                <directory>../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="../build/cov/coverage.cov"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
        <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>